! urxvt --help 2>&1| sed -n '/:  /s/^ */! URxvt*/gp' >> ~/.Xresources
! TERM=dump command man -Pcat urxvt | sed -n '/depth: b/,/^BACKGROUND/p'|sed '$d'| sed 's/@/%-.-%/g; s/\^/%-+-%/g' | sed '/^       [a-z]/s/^ */^/g' | tr -s "\n" \|
! sed -e :a -e 'N;s/\n/@@/g;ta;P;D' | sed 's,\^\([^@]\+\)@*[\t ]*\([^\^]\+\),! \2\n! URxvt*\1\n\n,g' | sed 's,@@           ,\n           ,g' | sed 's,@*$,,g' |sed '/^[^!]/d'

! URxvt*termName:                 screen-256color
URxvt*loginShell:               true
URxvt*scrollColor:              #777777
URxvt*scrollstyle:              plain
URxvt*scrollTtyKeypress:        true
URxvt*scrollTtyOutput:          false
URxvt*scrollWithBuffer:         false
URxvt*secondaryScreen:          true
URxvt*secondaryScroll:          true
URxvt*skipScroll:               true
URxvt*scrollBar:                false
URxvt*scrollBar_right:          false
URxvt*scrollBar_floating:       false
URxvt*depth:                    32
URxvt*transparent:              true
URxvt*tintColor:                #666666
URxvt*blurRadius:               8
URxvt*fading:                   30
URxvt*utmpInhibit:              false
URxvt*urgentOnBell:             true
URxvt*visualBell:               false
URxvt*mapAlert:                 false
URxvt*mouseWheelScrollPage:     false
URxvt*background:               [65]#222222
URxvt*foreground:               white
URxvt*colorUL:                  yellow
URxvt*cursorUnderline:          false
URxvt*cursorBlink:              true
URxvt*font:                     xft:DejaVu Sans Mono:size=16
URxvt*internalBorder:           2
URxvt*saveLines:                8192
URxvt*buffered:                 true
URxvt*hold:                     false
URxvt*print-pipe:               cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d-%H%m%S'))
URxvt*iso14755:                 false
URxvt*perl-ext-common:          default,resize-font,clipboard,url-select,keyboard-select,matcher
URxvt*perl-ext:
URxvt*url-launcher:             firefox
URxvt.url-select.launcher:      firefox

URxvt.keysym.Control-v:         perl:clipboard:paste
URxvt.keysym.M-u:               perl:url-select:select_next
URxvt.keysym.M-bracketleft:     perl:keyboard-select:activate
URxvt.keysym.M-slash:           perl:keyboard-select:search
URxvt.keysym.Control-Shift-J:   string:\033[1;5C
URxvt.keysym.Control-Shift-K:   string:\033[1;5D


URxvt.resize-font.smaller:      C-minus
URxvt.resize-font.bigger:       C-S-plus

! Make red stand out a bit more
URxvt*color1:                   #ff2624
URxvt*color5:                   #cc85e5

rofi.fuzzy:                     true
rofi.hide-scrollbar:            true
rofi.bw:                        2
rofi.terminal:                  urxvt

! State:            'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal:  #285577,  #ffffff,  #2a5779,  #2370ef,  #ffffff
!                   'background', 'border'
rofi.color-window:  #285577,      #bbbbbb
